@model Device

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CalibrationFactor" class="control-label"></label>
                <input asp-for="CalibrationFactor" class="form-control" />
                <span asp-validation-for="CalibrationFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScaleUpdateInterval" class="control-label"></label>
                <input asp-for="ScaleUpdateInterval" class="form-control" />
                <span asp-validation-for="ScaleUpdateInterval" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScaleSamplingSize" class="control-label"></label>
                <input asp-for="ScaleSamplingSize" class="form-control" />
                <span asp-validation-for="ScaleSamplingSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScaleCalibrationWeight" class="control-label"></label>
                <input asp-for="ScaleCalibrationWeight" class="form-control" />
                <span asp-validation-for="ScaleCalibrationWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScaleDisplayTimeout" class="control-label"></label>
                <input asp-for="ScaleDisplayTimeout" class="form-control" />
                <span asp-validation-for="ScaleDisplayTimeout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
