@page "/devices"
@using Microsoft.AspNetCore.SignalR.Client
@using SmartMass.Controller.Client.Components
@using SmartMass.Controller.Shared.Models
@inject NavigationManager Navigation
@implements IAsyncDisposable
@inject IDialogService DialogService

<h3>Devices</h3>
<MudButton @onclick="AddDevice" Variant="Variant.Filled" Color="Color.Primary">
    Add new Device
</MudButton>
<MudButton @onclick="@((e) => EditDevice("scale-01"))" Variant="Variant.Filled" Color="Color.Primary">
    Edit Device
</MudButton>


<style>
    .dialog-blurred-bg {
        backdrop-filter: blur(10px);
    }
</style>


@code {
    [Inject] HttpClient HttpClient { get; set; }
    private bool loading = false;
    private List<Device> devices = new List<Device>();

    private HubConnection? hubConnection;
    private readonly Dictionary<string, int> status = new Dictionary<string, int>();

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/messages"))
            .Build();

        hubConnection.On<string, int>("Status", (deviceId, value) =>
        {
            status[deviceId] = value;
            StateHasChanged();
        });

        hubConnection.On<string, int, Guid>("KnownStatus", (deviceId, value, spoolId) =>
        {
            status[deviceId] = value;
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        await LoadData();
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private async Task AddDevice()
    {
        var options = new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true, ClassBackground = "dialog-blurred-bg" };
        var dialog = await DialogService.ShowAsync<Components.DevicesDiscovered>("Add new device", options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await LoadData();
        }
    }

    private async Task EditDevice(string deviceId)
    {
        var parameters = new DialogParameters<DeviceEdit>
        {
            { p => p.Device, deviceId },
            { p => p.IsNew, false }
        };

        var options = new DialogOptions() { MaxWidth = MaxWidth.Large, FullWidth = true};
        var dialog = await DialogService.ShowAsync<DeviceEdit>("Configure device", parameters, options);
        var result = await dialog.Result;

        if (!result.Canceled)
        {
            await LoadData();
        }
    }

    private async Task LoadData()
    {
        loading = true;
        var response = await HttpClient.GetAsync("api/Devices");
        var result = await response.Content.ReadFromJsonAsync<IEnumerable<Device>>();
        if (result != null)
        {
            devices.Clear();
            devices.AddRange(result);
            StateHasChanged();
        }
        loading = false;
    }
}
